{% extends 'animales/padre.html' %}

{% block contenido_que_cambia %}

        {% csrf_token %}

        <h2>Detalle de {{object.nombre}}</h2>

        <ul style="text-align: left;">

            <li>Nombre: {{object.nombre}}</li>
            <li>Edad: {{object.nacimiento}}</li>
            <li>Castrado: {{object.es_castrado}}</li>
            <li>Vacunacion: {{object.es_vacunado}}</li>
            <li>Desparasitado: {{object.es_desparasitado}}</li>
            <li>Observaciones: {{object.observaciones}}</li>
            <li>Raza: {{object.raza}}</li>
            <li>Tamaño: {{object.tamano}}</li>
            
            <li>Contacto: {{object.contacto}}</li>

        </ul>



{% endblock contenido_que_cambia %}